{include file="public/header"/}

<body class="gray-bg">






<div class="wrapper wrapper-content">
    <!--<div class="alert alert-danger alert-dismissable">
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        <div>尊敬的会员<span id="weather"></span></div>
    </div>-->

    <!-- 上方tab -->
    <div class="row">
       
          
          
            
            
      
        
        <div class="row">
        
        
       
        
        
            <div class="col-sm-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>系统信息</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
              
                    <div class="ibox-content">
                        <div class="feed-activity-list">
							
                            <div class="feed-element">
                                <div>
                                  <small class="pull-right text-navy"></small>
                                    <strong>当前时间：</strong>
                                    <div id="weather_time"></div>
                                    <small class="text-muted"></small>
                                </div>
                            </div>
							
                            
                    <div class="panel-body">
                        <p><i class="fa fa-sitemap"></i> 框架版本：ThinkPHP{$info.think_v}</p>
                        <p><i class="fa fa-windows"></i> 服务环境：{$info.web_server}</p>
                        <p><i class="fa fa-warning"></i> 上传附件限制：{$info.onload}</p>
                        <p><i class="fa fa-credit-card"></i> PHP 版本：{$info.phpversion}</p>
						<p><i class="fa fa-sitemap"></i> 系统版本：{:config("appbanben")} {$newbanben['msg']}</p>
                    </div>

                         

                        </div>
                    </div>
                </div>
            </div>
			
			
			<div class="col-sm-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>声明</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
              
                    <div class="ibox-content">
                        <div class="feed-activity-list">
							
                          
							
                            
                    <div class="panel-body">
                        <p>本打赏系统仅供作为正规视频传输吸粉收费系统，禁止利用程序从事违法活动。正规视频传输收费系统之用，切勿利用本程序从事商业违法行为。用户上传内容一律与本系统制作者无关，由使用用户自行承担！如用于其他用途所产生的一切不良后果本人概不负责！本系统由天易工作室开发，请勿使用违法行为</p>
                        
                    </div>

                         

                        </div>
                    </div>
                </div>
            </div>

            
        </div>
        
    </div>













    

</div>

{include file="public/footer" /}
<script src="/static/admin/js/jquery.leoweather.min.js"></script>

<script type="text/javascript">
	$('#weather_time').leoweather({format:'{年}年{月}月{日}日 星期{周} {时}:{分}:{秒}'});
	
</script>

</body>
</html>